// Use this partial to create variables for your repeated values.
// At minimum, create variables for fonts, breakpoints, and colors.

//Fonts
$font-style--main : "Helvetica Neue", sans-serif;

//Breakpoints
$brkpoint-sm : 480px;
$brkpoint-lg : 1100px;

//Colors
$color-primary : #15d6d6;
$color-successButton       : #47d147;
$color-errorButton         : #e62e00;
$color-warningButton : #ff3300;
$color-infoButon : #6600cc;

$color-grid-col-12 : #33ffd6;
$color-grid-col-6 : #1a75ff;
$color-grid-col-4 : #00e6e6;
$color-grid-col-3 : #ff66ff;
$color-grid-col-5 : #00cc00;
$color-grid-col-8 : #cc3300;




