// Buttons:
// .btn {
//   display: inline-block;
//   font-weight: bold;
//   font-size: 1em;
//   text-decoration: none;
//   text-transform: uppercase;
//   padding: 0.75em 3em;
//   border-radius: 0.35em;
//   margin: 1em 1.5em;
//   color: $white;
//   &--info {
//     @extend .btn;
//     background-color: $color-btn-info;
//     & .theme__colors {
//       color: $white;
//     }
//   }
//   &--warning {
//     @extend .btn;
//     background-color: $color-btn-warning;
//   }
//   &--error {
//     @extend .btn;
//     background-color: $color-btn-error;
//   }
//   &--success {
//     @extend .btn;
//     background-color: $color-btn-success;
//   }
//   &--default {
//     @extend .btn;
//     background-color: $color-btn-default;
//   }
// }
.btn {
  @include m(default) {
    @extend %btn;
    background-color: $color-secondary;
    }
  @include m(success) {
    @extend %btn;
    background-color: $color-success;
  }
  @include m(error) {
    @extend %btn;
    background-color: $color-error;
  }
  @include m(warning) {
    @extend %btn;
    background-color: $color-warning;
  }
  @include m(info) {
    @extend %btn;
    background-color: $color-info;
  }
}

.theme__colors {
  width: 100%;
}