// Buttons:
.btn {
  display: inline-block;
  font-weight: bold;
  font-size: 1em;
  text-decoration: none;
  text-transform: uppercase;
  padding: 0.75em 3em;
  border-radius: 0.35em;
  margin: 1em 1.5em;
  &--info {
    @extend .btn;
    background-color: $color-btn-info;
  }
  &--warning {
    @extend .btn;
    background-color: $color-btn-warning;
  }
  &--error {
    @extend .btn;
    background-color: $color-btn-error;
  }
  &--success {
    @extend .btn;
    background-color: $color-btn-success;
  }
  &--default {
    @extend .btn;
    background-color: $color-btn-default;
  }
}
.theme__colors {
  color: $white;
}
