// Image:
 .img--logo {
  @include m(logo) {
    width: 160px;
   }
.img--frame {
  max-width: 100%;
  height: auto;
  outline-offset: 10px;
  outline: $grey solid .1em;
  margin: 1em auto 1em auto;
  }
 }
.img--avatar {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 1em auto 1em auto;
   }
  }
